# API Server
fastapi==0.121.2
uvicorn==0.38.0
python-multipart

# Machine Learning (Versões compatíveis com seu treino recente)
scikit-learn==1.7.2
xgboost==3.1.2
numpy==2.3.4
pandas==2.2.3
imbalanced-learn==0.14.0
joblib==1.5.2

# Utilities
requests==2.32.5
python-dotenv==1.0.1
pydeck==0.9.1
